[submodule "/Users/jwilson/dotfiles/vim/bundle/solarized"]
	path = /Users/jwilson/dotfiles/vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "/Users/jwilson/dotfiles/vim/bundle/powerline"]
	path = /Users/jwilson/dotfiles/vim/bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "/Users/jwilson/dotfiles/vim/bundle/coffee-script-syntax"]
	path = /Users/jwilson/dotfiles/vim/bundle/coffee-script-syntax
	url = https://github.com/kchmck/vim-coffee-script.git
